.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  border-radius: 8px;
  align-self: center;
  position: relative;
  overflow: hidden;
}

.popupContent img {
  max-width: 600px;
  height: auto;
}

.popupClose {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  font-size: 1rem;
  line-height: 1.2;
}
